nav {
	box-shadow: none!important;
}
.secondary-content a {
	margin:5px!important;
}

.view-more {
	border-top: 0.5px solid #cecece;
}
.completed {
	text-decoration: line-through;
}
.input-field.prefix.active {
	color: blue!important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #004d40;
}
